<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Paleo-Eskimo</key>
	<string>Paleo-Eskimos are the ancient ancestors of modern Eskimos, as recognized by archaeological studies throughout Alaska, Canada, and Greenland. In Alaska, the earliest members of this group are known by a distinctive stone tool technology called the Denbigh Flint Complex (say DEN-bee). Denbigh people were the first humans to colonize most of Arctic North America 5000 years ago.</string>
	<key>Petroglyphs</key>
	<string>For thousands of years, Alutiiq people lived in sod houses and hunted sea mammals, relying on special technologies, ancestral knowledge, and spiritual assistance to care for their families. The Cape Alitak petroglyphs are one of the only written records of their way of life. Pecked into Kodiak’s granite bedrock, images of people and animals preserve customs from the Alutiiq past. Museum scientists explain this amazing history in seven short films. We learn about the remarkable environment that surrounds Cape Alitak while hearing the stories its sites reveal.</string>
	<key>Alutiiq Weavers</key>
	<string>The Alutiiq Weavers presented in these vodcasts traveled to Russia to see baskets made by their ancestors. The baskets reside in collections at the Peter the Great Museum of Anthropology and Ethnography (MAE) in St. Petersburg, obtained by Russian explorers during the late 1700′s, 1800′s from Alaskan towns and villages.</string>
	<key>Arctic&apos;s Amazing Birds</key>
	<string>Spectacled Eiders, Snowy Owls, Bar-Tailed Godwits are just a few of the birds that call Alaska and the Arctic home at least for the summer. Tons of insects and open habitat are the perfect place for their new hatchlings. It’s only a flight away. For some birds it quite a journey……</string>
	<key>Computational Science</key>
	<string>Scientists use Supercomputers like the average person uses their laptops. Supercomputers are an indispensable tool when to comes to understanding and solving some of today’s most pressing problems. Think weather, climate change, and the space program. Through collaboration and computation, the Arctic Region Supercomputing Center (ARSC), in Fairbanks, Alaska provides scientists with the high-performance computing resources they need for finding solutions to big problems.</string>
</dict>
</plist>
